
@{
    ViewBag.Title = "Home Page";
}
@section Scripts
{
    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
}
<div class="jumbotron">
    <table class="table">
        <tr>
            <th>
            <td>
                User info
            </td>
            </th>
            <th>
            <td>
                Add friend
            </td>
            </th>
        </tr>
        @foreach (var item in ViewBag.Users)
        // ViewBag.Persons
        {
            if (item.Id.ToString() != ViewBag.CurrentUserId)
            {
            <tr>
                <th>
                <td>
                    <font size="4"><b>@item.LastName @item.FirstName</b></font><br />
                    <font size="4">@item.Email</font>
                </td>
                </th>
                <th>
                <td>
                    <input type="button" class="btn btn-default" id="AddFriendbtn" value="Add" onclick="this.disabled = 1; this.value='Friend'" />
                </td>
                </th>
            </tr>
            }
        }
    </table>
</div>